th {
    background-color: #f2f2f2;
}
table {
    border-style: dotted;
}
tr{
    background-color: lightcyan;
}
tr:nth-child(even){
    background-color: lightskyblue;
}
h1{
    size: 28xp;
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}