th {
    background-color: #f2f2f2;
}
table {
    border-style: dotted;
}
tr{
    background-color: lightcyan;
}
tr:nth-child(even){
    background-color: lightsteelblue;
}
h1{
    size: 28xp;
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}
div.menu {
    height: 1.5cm;
    background-color: lightsteelblue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
div.menu > ul{
    list-style: none;
    display: inline-flex;
}
div.menu li > a[href$="#titre"]{
    margin-left: 180px;
}
div.menu li > a {
    margin-right: 180px;
    text-decoration: solid;
    color: black;
    font-size: 18px;
    font-weight: bold;
   

}
.dropdown >  a {
    margin-right: 200px;
    text-decoration: solid;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.dropdown {
    position: relative;
    display: inline-block;  
    
}
.agriculture_types > a {
    margin: 10px;
}
.agriculture_types{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    align-items: flex-start; 
}
.agriculture_types a{
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.agriculture_types a:hover{
    background-color:#f1f1f1;
}
.dropdown:hover .agriculture_types {
    display: block;
}


div.container {
    border: black;
    width: 80%;
    overflow: hidden;
    display: inline-flex;
    background-color: black;
   
}

@keyframes diaporama {
    
    0% { -webkit-transform: translate(-3000px, 0);}
    33%{ -webkit-transform: translate(-2000px, 0);}
    66%{ -webkit-transform: translate(-1000px, 0);}
    100%{ -webkit-transform: translate(0, 0);}
}
div.images {
    width: 5000px;
    display: -webkit-inline-flex;
    
}
div.images > img {
   width: 1000px;
   position: relative;
   padding-left: 0.5%;
    padding-right:0.5%;
   
}
.images {
    -webkit-animation-name: diaporama ;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-transition-delay: 0s;
}
.images:hover {
   -webkit-animation-play-state: paused;
}

#statistique{
    display: inline-block;
}

div.tableau {
    max-width: auto;
    display: inline-flex;
    
}
div.tableau > div{
    padding-left: 50px;
    padding-right: 50px;
}
section h2 {
    size: 24xp;
    font-weight: 500;
    font-family: fantasy;
    margin-left: 30px;
}
footer > a {
    font-size: 18px;
    font-style: none;
    color: black;
    float: left;
}

.open-button {
    background-color:lightsteelblue;
    color:black;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: static;
    float: right;
    margin: 20px;
    
    width: 200px;
  }
 
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 5;
  }
  
 
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  .selection{
      margin: 10px;
  }
  .form-container input[type=text] {
    width: 250px;
    padding: 15px;
    margin: 10px;
    border: none;
    background: #f1f1f1;
  }

  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container .btn {
    background-color:lightsteelblue;
    color: black;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: grey;
  }  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }